/qpc/
/tools/btk/
*.patch
*.sublime-project
*.sublime-workspace
*.sublime-toks
cscope.files
cscope.in.out
cscope.out
cscope.po.out
csu
driver/pmu_new/
enable_etm.sh
how_i_file
key-bindings
ld.good
ld.new
obj/
*.o
*.vim
*tags*
bbuinfo.h
